<div class="transactions-main">
  <div class="transactions-inner">
    <div class="account-details">
      <div class="account-details-left shadow">
        <div>
          <p>Account Number</p>
          <p>{{ accountNumber | accountNumber }}</p>
        </div>
        <div>
          <p>Name</p>
          <p>{{ user?.firstName + " " + user?.lastName | uppercase }}</p>
        </div>
        <div>
          <p>Type</p>
          <p>{{ selectedAccount?.type | uppercase }}</p>
        </div>
      </div>
      <div class="account-details-center shadow">
        <p class="title">Closing Balance</p>
        <p class="closing-balance">
          {{ selectedAccount?.balance | currencyPipe }}
        </p>
      </div>
      <div
        routerLink="/transfer"
        mat-ripple
        class="account-details-right shadow"
      >
        <fa-icon class="transfer-funds" [icon]="faTelegram"></fa-icon>
        <p>Transfer <br />Funds</p>
      </div>
    </div>
    <div class="transaction-table">
      <p>Transactions</p>
      <button (click)="downloadPdf()">Download as PDF</button>
      <div *ngIf="transactions?.length != 0" class="table-wrapper shadow">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>FROM</th>
            <td mat-cell *matCellDef="let element">
              {{ element.from | accountNumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>TO</th>
            <td mat-cell *matCellDef="let element">
              {{ element.to | accountNumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>NAME</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>TYPE</th>
            <td mat-cell *matCellDef="let element">
              {{ element.type | uppercase }}
            </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>AMOUNT</th>
            <td mat-cell *matCellDef="let element">
              {{ element.amount | currencyPipe }}
            </td>
          </ng-container>
          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef>
              CLOSING <br />
              BALANCE
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.closing | currencyPipe }}
            </td>
          </ng-container>
          <ng-container matColumnDef="timeStamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
            <td mat-cell *matCellDef="let element">
              {{ element.timeStamp | datePipe }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[10, 20, 30]"
          showFirstLastButtons
          aria-label="Select page of transactions"
        >
        </mat-paginator>
      </div>
      <div class="nothing" *ngIf="transactions?.length == 0">
        Nothing to show
      </div>
    </div>
  </div>
</div>
