@import "../../../../globalStyles.scss";

.navbar-main {
  background-color: $primary-bg;
  align-items: center;
  display: flex;
  box-shadow: 0px 2px 20px 1px;

  width: 100%;
  padding-bottom: 5px;
}

.navbar-inner {
  width: 80%;
  margin: auto;

  .navbar-level-1 {
    display: flex;
    justify-content: end;
    padding-bottom: 8px;
    padding-top: 3px;
    color: $white;

    p {
      border-right: 1px solid white;
      padding: 0 10px;
      margin-right: 4px;

      &:hover {
        color: lightcoral;
      }
    }
  }

  .navbar-level-2 {
    display: flex;

    .navbar-level-2-left {
      flex-grow: 1;
      font-weight: 800;
      color: $white;
      letter-spacing: 2px;
      font-style: italic;
      text-align: center;
      display: flex;
      align-items: center;
      span {
        color: lightcoral;
      }
    }

    .navbar-level-2-right {
      flex-grow: 2;
      display: flex;
      justify-content: end;

      .navbar-search {
        background-color: $white;
        margin-right: 10px;
        border-radius: 50px;
        height: fit-content;

        input {
          width: 300px;
          font-size: 16px;
          border: none;
          border-radius: inherit;
          padding: 8px 15px;
        }
      }

      button {
        font-size: 14px;
        margin-right: 10px;
      }

      fa-icon {
        font-size: 1.9em;
        color: $white;
      }
    }
  }
}
