<div *ngIf="!isLoginPage" class="navbar-main">
  <div class="navbar-inner">
    <div class="navbar-level-1">
      <div class="account-details">
        <p class="name">Welcome, Akarsh</p>
      </div>
      <div class="links">
        <p>About Us</p>
        <p>Language</p>
        <p>Customer Services</p>
        <p>1800 1800</p>
      </div>
    </div>
    <div class="navbar-level-2">
      <div routerLink="/dashboard" class="navbar-level-2-left">
        <h2>Digi<span>Bank</span></h2>
      </div>
      <div class="navbar-level-2-right">
        <div class="navbar-search">
          <input placeholder="Search services" />
        </div>
        <button (click)="logout()" mat-raised-button>LogOut</button>
        <div matBadge="8">
          <fa-icon matBadge="4" [icon]="faBell"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
