<div class="login-main">
  <div class="login-header">
    <h1>Digi<span>Bank</span></h1>
    <p>{{ "heading" | translate }}</p>
  </div>

  <div class="login-menu">
    <div class="login-menu-left">
      <p class="form-heading">{{ "form-title" | translate }}</p>
      <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <div>
          <label for="customerId">{{ "customerId" | translate }}</label>
          <input
            [ngClass]="{
              'error-border':
                loginForm.get('customerId')?.invalid &&
                (loginForm.get('customerId')?.touched || formSubmitted)
            }"
            name="customerId"
            formControlName="customerId"
            matTooltip="To know your customer ID, refer your welcome letter/ cheque book."
            matTooltipPosition="above"
            matTooltipShowDelay="500"
          />
        </div>
        <div class="validation-message">
          <p
            *ngIf="
              loginForm.controls['customerId'].hasError('required') &&
              (loginForm.controls['customerId'].touched || formSubmitted)
            "
          >
            {{ "cidValidationText" | translate }}
          </p>
        </div>
        <div>
          <label for="password">{{ "password" | translate }}</label>
          <input
            [ngClass]="{
              'error-border':
                loginForm!.get('password')?.invalid &&
                (loginForm!.get('password')?.touched || formSubmitted)
            }"
            formControlName="password"
            name="password"
            type="password"
            autocomplete="on"
          />
        </div>
        <div class="validation-message">
          <p
            *ngIf="
              loginForm.controls['password'].hasError('required') &&
              (loginForm.controls['password'].touched || formSubmitted)
            "
          >
            {{ "passwordValidationText" | translate }}
          </p>
        </div>
        <div class="login-button">
          <button type="submit" mat-raised-button>
            {{ "login" | translate }}
          </button>
        </div>
      </form>
      <div class="message">
        {{ "message" | translate }}
      </div>
    </div>
    <div class="login-menu-right">
      <div><fa-icon [icon]="faShield"></fa-icon></div>
      <p>{{ "securityMsg" | translate }}</p>
      <h4>{{ "registerHeading" | translate }}</h4>
      <p>
        <a href="">{{ "register" | translate }}</a
        >{{ "registerMsg" | translate }}
      </p>
      <h4>{{ "text-1" | translate }}</h4>
      <ul>
        {{
          "text-2" | translate
        }}
        <li>{{ "text-3" | translate }}</li>
        <li>{{ "text-4" | translate }}</li>
      </ul>
    </div>
  </div>
  <div class="login-footer">
    <div class="login-footer-inner">
      <div class="login-footer-left">
        <a href="#">Terms and conditions</a>
        <a href="#">Disclaimer</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Code of Commitment</a>
      </div>
      <div class="login-footer-right">
        <p>Copyright 2023. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
